
<p-toast></p-toast>
<app-colis-detail [colis]="package"></app-colis-detail>

    <!-- <p-toolbar  responsiveLayout="scroll"  styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
            <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button>
        </ng-template>

        <ng-template pTemplate="right">
            <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="p-mr-2 p-d-inline-block"></p-fileUpload>
            <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
        </ng-template>
    </p-toolbar> -->
    <div class="table-responsive">
    <p-table #dt responsiveLayout="scroll"  [value]="products" [rows]="10" [paginator]="true" [globalFilterFields]="['designation','fullName','telNumber','status']"
        [(selection)]="selectedProducts" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Affichage du {first} au {last} des {totalRecords} entrées" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <!-- <h5 class="p-m-0">Gérer packages</h5> -->
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Rechercher..." />
                </span>
                <span class="p-input-icon-left" *ngIf="role ==='ADMIN'">
                    <p-dropdown responsiveLayout="scroll" [options]="users" [(ngModel)]="selectedUser" (ngModelChange)="onSelectChange()" [optionLabel]="getUserLabel" optionValue="email" [showClear]="true" placeholder="Utilisateur">
                       
                        <ng-template let-user pTemplate="item">
                            {{ getUserLabel(user) }}
                        </ng-template>
                    </p-dropdown>
                </span>
            </div>
           
        </ng-template>
        <ng-template pTemplate="header">
            <tr >
                <!-- <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th> -->
                <th  pSortableColumn="designation">Désignation <p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="fullName">Nom complet <p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="telNumber">Téléphone <p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="price">prix <p-sortIcon field="price"></p-sortIcon></th>
                <th pSortableColumn="status">Statut <p-sortIcon field="price"></p-sortIcon></th>
                <th></th>
                <th></th>
                
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr >
                <!-- <td>
                    <p-tableCheckbox [value]="product"></p-tableCheckbox>
                </td> -->
                <td><a (click) = "showPackageDetail(product)" style="text-decoration: none; cursor: pointer; color: black;" href="#" [routerLink]="['.']" >
                    {{product.designation}}</a></td>
                <td><a (click) = "showPackageDetail(product)" style="text-decoration: none; cursor: pointer; color: black;" href="#" [routerLink]="['.']">
                    {{product.fullName}}</a></td>
                <td><a (click) = "showPackageDetail(product)" style="text-decoration: none; cursor: pointer; color: black;" href="#" [routerLink]="['.']">
                    {{product.telNumber}}</a></td>
                <td><a (click) = "showPackageDetail(product)" style="text-decoration: none; cursor: pointer; color: black;" href="#" [routerLink]="['.']">
                    {{product.priceNet + (product.priceDelivery * product.packageNumber) | currency:'TND'}}</a></td>
                <td>

                    <span class="badge badge-pill badge-danger" *ngIf="product?.status === 'NOT_STARTED'">Commande n'est pas traitée</span>
                    <span class="badge badge-pill badge-primary" *ngIf="product?.status === 'IN_PROGRESS'">Commande en cours</span>
                    <span class="badge badge-pill badge-success" *ngIf="product?.status === 'DELIVERED'">Commande livrée</span>
                    <span class="badge badge-pill badge-dark" *ngIf="product?.status === 'BOOKED'">Commande payée</span>
                  </td>
                <td *ngIf="role ==='ADMIN'">
                    <button pButton pRipple  class="p-button p-button-primary p-mr-2" (click)="changeStatus(product)"  *ngIf="product?.status === 'NOT_STARTED'">
                        Commande en cours
                    </button>
                    <button pButton pRipple  class="p-button p-button-success p-mr-2" (click)="changeStatus(product)"  *ngIf="product?.status === 'IN_PROGRESS'">
                        Commande livrée
                    </button>
                    <button pButton pRipple  class="p-button p-button-dark p-mr-2" (click)="changeStatus(product)"  *ngIf="product?.status === 'DELIVERED'">
                        Commande payée
                    </button>
                </td>
                <td>
                    <button pButton pRipple icon="pi pi-check" icon="nc-icon nc-single-copy-04" class="p-button-rounded p-button-warning" (click)="generatePDF(product)"></button>

                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                Au total il y a {{products ? products.length : 0 }} colis.
            </div>
        </ng-template>
    </p-table>
    </div>


<p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Product Details" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-field">
            <label for="name">Name</label>
            <input type="text" pInputText id="name" [(ngModel)]="product.name" required autofocus />
            <small class="p-invalid" *ngIf="submitted && !product.name">Name is required.</small>
        </div>
        <div class="p-field">
            <label for="description">Description</label>
            <textarea id="description" pInputTextarea [(ngModel)]="product.description" required rows="3" cols="20"></textarea>
        </div>

        <div class="p-field">
            <label class="p-mb-3">Category</label>
            <div class="p-formgrid p-grid">
                <div class="p-field-radiobutton p-col-6">
                    <p-radioButton id="category1" name="category" value="Accessories" [(ngModel)]="product.category"></p-radioButton>
                    <label for="category1">Accessories</label>
                </div>
                <div class="p-field-radiobutton p-col-6">
                    <p-radioButton id="category2" name="category" value="Clothing" [(ngModel)]="product.category"></p-radioButton>
                    <label for="category2">Clothing</label>
                </div>
                <div class="p-field-radiobutton p-col-6">
                    <p-radioButton id="category3" name="category" value="Electronics" [(ngModel)]="product.category"></p-radioButton>
                    <label for="category3">Electronics</label>
                </div>
                <div class="p-field-radiobutton p-col-6">
                    <p-radioButton id="category4" name="category" value="Fitness" [(ngModel)]="product.category"></p-radioButton>
                    <label for="category4">Fitness</label>
                </div>
            </div>
        </div>

        <div class="p-formgrid p-grid">
            <div class="p-field p-col">
                <label for="price">Price</label>
                <p-inputNumber id="price" [(ngModel)]="product.price" mode="currency" currency="USD" locale="en-US"></p-inputNumber>
            </div>
            <div class="p-field p-col">
                <label for="quantity">Quantity</label>
                <p-inputNumber id="quantity" [(ngModel)]="product.quantity"></p-inputNumber>
            </div>
        </div>
    </ng-template>
    
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>

<!--  -->
<div id="canvas" [hidden]="isHidden">
    <div class="bordereau-envoi">
        <h2>Bon de Livraison</h2>
        <div class="header">
            <div class="expediteur">
                <p><strong>Nom :</strong> {{user.firstName}} {{user.lastName}}</p>
                <p><strong>Expéditeur :</strong> {{user.campanyName}}</p>
                <p><strong>Adresse :</strong>{{user.city}}, {{user.address}}, {{user.codePostal}}</p>
                <p><strong>Tél. :</strong> {{user.telNumber}}</p>
                <p><strong>M/F :</strong> {{user.taxIdentificationNumber}}</p>
            </div>
            <div class="destinataire">
                <p><strong>Nom de destinataire :</strong> {{colis.fullName}}</p>
                <p><strong>Adresse :</strong> {{colis.governorate}}, {{colis.city}}, {{colis.fullAddress}} </p>
                <p><strong>Téléphone :</strong> {{colis.telNumber}}</p>
            </div>
        </div>
        <div class="details">
            <table>
                <thead>
                    <tr>
                        <th>Désignation</th>
                        <th>Quantité</th>
                        <th>Montant Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{colis.designation}}</td>
                        <td>{{colis.packageNumber}}</td>
                        <td>{{priceTotal}} DT</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="total">
            <p><strong>Prix en Net</strong> {{colis.priceNet}} DT</p>
            <p><strong>Prix de livraison</strong> {{priceOfLivraison}} DT</p>
            <p><strong>Total </strong> {{priceTotal}} DT</p>
        </div>
        <div class="footer">
            <p><strong *ngIf="colis.paymentMode==='CASH'">Espece seulement</strong>
                <strong *ngIf="colis.paymentMode==='CHEQUE'">Chéque seulement</strong>
                <strong *ngIf="colis.paymentMode==='CASH_OR_CHEQUE'">Espece ou Chéque</strong>
            </p>
            <p><strong>Société de Livraison:</strong> Fly Delivery</p>
            <p><strong>Adresse:</strong> Monthfleury, Tunis.</p>
            <p><strong>Tel:</strong> 29 905 911</p>
        </div>
    </div>
  </div>


  <!-- <div id="canvas" [hidden]="isHidden" class="container">
    <div class="bordereau-envoi">
      <h2 class="text-center">Bon de livraison</h2>
      <div class="header row">
        <div class="expediteur col-md-6">
          <p><strong>Nom :</strong> {{user.firstName}} {{user.lastName}}</p>
          <p><strong>Expéditeur :</strong> {{user.campanyName}}</p>
          <p><strong>Adresse :</strong>{{user.city}}, {{user.address}}, {{user.codePostal}}</p>
          <p><strong>Tél. :</strong> {{user.telNumber}}</p>
          <p><strong>M/F :</strong> {{user.taxIdentificationNumber}}</p>
        </div>
        <div class="destinataire col-md-6">
          <p><strong>Nom de destinataire :</strong> {{colis.fullName}}</p>
          <p><strong>Adresse :</strong> {{colis.governorate}}, {{colis.city}}, {{colis.fullAddress}} </p>
          <p><strong>Téléphone :</strong> {{colis.telNumber}}</p>
        </div>
      </div>
      <div class="details table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Désignation</th>
              <th>Quantité</th>
              <th>Montant Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{colis.designation}}</td>
              <td>{{colis.packageNumber}}</td>
              <td>{{priceTotal}} DT</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="total">
        <p><strong>Prix en Net</strong> {{colis.priceNet}} DT</p>
        <p><strong>Prix de livraison</strong> {{priceOfLivraison}} DT</p>
        <p><strong>Total </strong> {{priceTotal}} DT</p>
      </div>
      <div class="footer">
        <p><strong *ngIf="colis.paymentMode==='CASH'">Espece seulement</strong>
          <strong *ngIf="colis.paymentMode==='CHEQUE'">Chéque seulement</strong>
          <strong *ngIf="colis.paymentMode==='CASH_OR_CHEQUE'">Espece ou Chéque</strong>
        </p>
        <p><strong>Société de Livraison:</strong> Fly Delivery</p>
        <p><strong>Adresse:</strong> Monthfleury, Tunis.</p>
        <p><strong>Tel:</strong> 29 905 911</p>
      </div>
    </div>
  </div> -->
